@model MVCClient.Models.FlightAdminM

@{
    ViewData["Title"] = "CreateFlight";
}

<h2>Create a New Flight</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFlight">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="AirlineName" class="control-label"></label>
                <input asp-for="AirlineName" class="form-control" />
                <span asp-validation-for="AirlineName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Seat" class="control-label"></label>
                <input asp-for="Seat" class="form-control" />
                <span asp-validation-for="Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotId" class="control-label"></label>
                <input asp-for="PilotId" class="form-control" />
                <span asp-validation-for="PilotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopilotId" class="control-label"></label>
                <input asp-for="CopilotId" class="form-control" />
                <span asp-validation-for="CopilotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<form>
    <input type="button" value="Cancel" onclick="history.back()">
</form>

